{% extends 'principal.html' %} {% block content %}

<h1>Formulario de Toma de Datos</h1>

<form>
  <div class="mb-3">
    <label for="tipoUsuario" class="form-label">Tipo de usuario</label>
    <select id="tipoUsuario" class="form-select">
      <option value="">Seleccione</option>
      {% for tipo_usuario in tipos_usuario %}
      <option value="{{ tipo_usuario.id }}">{{ tipo_usuario.nombre }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="camposDinamicos">
    <!-- Aquí se agregarán dinámicamente los campos -->
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>

{% endblock %}
