{% extends 'principal.html' %} {% block formulario_inicial %} {% load static %}

<h1>Formulario de Toma de Datos</h1>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="tipoUsuario" class="form-label">Tipo de usuario</label>
    <select id="tipoUsuario" name="tipo_usuario" class="form-select">
      <option value="">Seleccione</option>
      {% for tipo_usuario in tipos_usuario %}
      <option value="{{ tipo_usuario.id }}">{{ tipo_usuario.nombre }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="camposDinamicos">
    <!-- Aquí se agregarán dinámicamente los campos -->
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>

<script src="{% static 'usuarios/js/formularioInicial.js' %}"></script>
{% endblock %}
